/* 640 - 768 - 1024 - 1280 - 1536 */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////           1920            //////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */

body {
  /* max-height: 100dvh; */
  /* overflow: hidden; */
  color: var(--foreground);
  background: var(--logo-bg), var(--background);
  background-size: 30px;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

.aside-links {
  flex-direction: column;
}

.calc-container {
  top: 0.25rem;
  left: 0;
}

.edit-form-container {
  gap: 1rem;
  width: 30dvw;
}

.edit-form-container input,
.edit-form-container select {
  width: 100%;
}

.footer-height {
  height: var(--footer-height);
}

.histo-modal-container {
  width: 70%;
  min-height: 50dvh;
}

.leftAside {
  padding: 1rem;
  width: var(--leftAside-width);
  /* border: 1px solid white; */
}

.main-page {
  flex-direction: row;
}

.modal-container {
  width: 33%;
}

.month-gap {
  gap: 0.5rem 0.5rem;
}

.navbar-container {
  height: var(--navbar-height);
}

.page {
  height: var(--main-height);
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; */
}

.page-top {
  justify-content: center;
}

.pago-header {
  width: 60dvw;
}

.rubro-filter {
  padding-right: 3.5rem;
  margin: 0;
}

.sectores-gap {
  gap: 0.75rem;
}

.table-pendiente tbody td:first-of-type,
.table-pendiente thead th:first-of-type,
.table-realizado tbody td:first-of-type,
.table-realizado thead th:first-of-type {
  padding-left: 1.25rem;
  width: 10%;
  text-align: center;
}

.table-pendiente tbody td:last-of-type,
.table-pendiente thead th:last-of-type,
.table-realizado tbody td:last-of-type,
.table-realizado thead th:last-of-type {
  padding-right: 1.25rem;
}

.table-container {
  width: var(--table-width);
  margin: auto;
  /* height: min(90%, auto); */
  min-height: 90%;
  /* min-height: max-content; */
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding-right: 2rem;
  border-radius: 0.5rem;
  /* backdrop-filter: blur(5px); */
  /* background: var(--table-bg); */
}

.user-menu-modal {
  top: 4.5rem;
  bottom: -15rem;
  left: 0;
  right: 0;
}

.weblink-edit,
.weblink-container {
  width: 50%;
  margin: 0 auto;
}

.weblink-modal-img {
  width: 600px;
  height: 400px;
  margin: 2rem;
  margin-top: 0;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////         1566            ///////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 1536px) {

  .admin-sectores-sector {
    padding: 0 0.5rem;
  }

  .admin-sectores-new button {
    width: 1.5rem;
    height: 1.5rem;
  }

  .edit-form-container input,
  .edit-form-container select {
    width: 100%;
  }

  .leftAside-admin div {
    gap: 0.5rem
  }

  .main-height {
    height: 88dvh;
  }

  .navbar-container {
    height: 7dvh;
  }

  .user-menu-modal {
    top: 1.5rem;
    bottom: -7rem;
    left: 0;
    right: 0;
  }

  .weblink-img {
    width: 70px;
    height: 50px;
  }

}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////         720               ////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 720px) {

  :root {
    --main-height: 80dvh;
  }

  body {
    min-height: 100dvh;
    overflow: visible;
    /* border: 1px solid red; */
  }

  .aside-links {
    flex-direction: row;
    width: 50%;
  }

  .calc-container {
    top: 2.5rem;
    width: 100%;
    text-align: center;
  }

  .calc-container span {
    padding: 0.25rem 0.5rem;
    background: var(--white25);
    border-radius: 0.5rem;
  }

  .edit-form-container {
    width: 95%;
    gap: 2rem;
  }

  .edit-form-container input,
  .edit-form-container select {
    width: 100%;
  }

  .histo-modal-container {
    width: 100%;
  }

  .leftAside {
    padding: 0;
    width: 80%;
    margin: 2rem auto;
    margin-bottom: 4rem;
    display: flex;
  }

  .month-gap {
    gap: 1.5rem 0.5rem;
  }

  .modal-container {
    width: 95%;
  }

  .navbar-container {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: var(--nav-bg);
    backdrop-filter: blur(10px);
  }

  .page {
    flex-direction: column;
    height: max(var(--main-height), max-content);
  }

  .page-top {
    justify-content: start;
    padding-top: 10rem;
  }

  .pago-header {
    width: 100dvw;
  }

  .rubro-filter {
    padding-right: 0rem;
    padding-bottom: 2rem;
    width: 100%;
  }

  .sectores-gap {
    gap: 2rem 1rem;
  }

  .table-container {
    width: 100%;
    overflow-y: visible;
    padding-right: 0;
    padding-bottom: 4rem;
    /* border: 1px solid green; */
  }

  .table th,
  .table td {
    /* border: 1px solid white; */
    text-align: left;
    padding-left: 0;
  }

  .table-pendiente thead th:first-of-type,
  .table-pendiente tbody td:first-of-type {
    padding-left: 0.25rem;
  }

  .table-pendiente thead th:last-of-type,
  .table-pendiente tbody td:last-of-type {
    padding-right: 0.25rem;
    width: 10%;
  }

  .table-realizado thead th:first-of-type,
  .table-realizado tbody td:first-of-type {
    padding-left: 0.25rem;
    width: max-content;
  }

  .table-realizado thead th:last-of-type,
  .table-realizado tbody td:last-of-type {
    padding-right: 0.25rem;
    width: 10%;
    text-align: center;
  }

  .table-admin thead th:first-of-type,
  .table-admin tbody td:first-of-type {
    padding-left: 0.25rem;
    width: max-content;
  }

  .table-admin thead th:last-of-type,
  .table-admin tbody td:last-of-type {
    padding-right: 0.25rem;
    width: 10%;
    text-align: center;
  }


  .table-movil-confirm {
    table-layout: auto;
  }

  .weblink-edit,
  .weblink-container {
    width: 90%;
    margin: 0 auto;
  }

  .weblink-edit>div {
    flex-direction: column;
  }

  .weblink-modal-container {
    width: 100%;
    padding: 4rem 0;
  }

  .weblink-modal-img {
    width: 100%;
    aspect-ratio: 3/2;
    margin: 0;
  }
}


/* /////////////////////////////////////////////////////// */
/* ////////////////       FONT - SIZE      /////////////// */
/* /////////////////////////////////////////////////////// */

html {
  font-size: 16px;
}

.leftAside-sectores {
  font-size: 20px;
  /* color: red; */
}


@media (max-width: 1536px) {
  html {
    font-size: 12px;
  }

  .leftAside-sectores {
    font-size: 16px;
    /* color: green; */
  }
}


@media (max-width: 720px) {
  html {
    font-size: 16px;
  }

  .leftAside-sectores {
    font-size: 20px;
    /* color: blue */
  }
}